<div class="fd-layout-header">
    <div class="fd-info fd-widget"></div>
    <div class="fd-title fd-widget"></div>
    <div class="fd-menu fd-widget"></div>
</div>
<div class="fd-layout-aside-left">
    <div class="fd-route-left fd-widget"></div>
    <div class="fd-menu-left fd-widget"></div>
</div>
<div class="fd-layout-center">
    <div class="fd-layout-map-menu fd-widget"></div>
</div>
<div class="fd-layout-aside-right">
    <div class="fd-menu-right fd-widget"></div>
    <div class="fd-route-right fd-widget"></div>
</div>
