.fd-alarm-statistics {
    width: 335px;
    height: 200px;

    .fd-left {
        width: 120px;
        height: 180px;
        float: left;
        margin: 5px;

        color: kt-state-color(light);

        > .fd-pie {
            width: 120px;
            height: 120px;

            background-image: url("./../../media/layouts/circle-statistics.png");
            -webkit-background-size: contain;
            background-size: contain;
            background-repeat: no-repeat;

            > .fd-title {
                font-family: "微软雅黑", serif;
                font-size: 16px;
            }
            > .fd-statistics {
                padding-top: 12px;

                text-align: center;

                font-family: "Impact", serif;
                font-size: 32px;
            }
        }

        > .fd-control {
            margin-top: 5px;
            .kt-switch  {
                // Small size
                &.kt-switch--bs-xs {
                    $kt-switch-margin: 0;
                    $kt-switch-width: 24px;
                    $kt-switch-height: 16px;
                    $kt-switch-line-height: 16px;
                    $kt-switch-space: 2px;
                    $kt-switch-checked-tick-pos: 10px;
                    $kt-switch-icon-font-size: 0.6em;

                    @include kt-switch-size(
                            $kt-switch-margin,
                            $kt-switch-width,
                            $kt-switch-height,
                            $kt-switch-line-height,
                            $kt-switch-space,
                            $kt-switch-checked-tick-pos,
                            $kt-switch-icon-font-size
                    );
                }
                > label {
                    margin-bottom: 0 !important;
                }
            }
        }
        > .fd-check-group-labels {
            .fd-label {
                font-size: 8px;
                margin-left: 5px;
                margin-right: 10px;
            }
        }
    }
    .fd-right {
        float: left;
        .fd-list {
            width: 170px;

            .fd-item {
                padding: 10px 0 0 0;
                i {
                    font-size: 16px;
                }

                .fd-label {
                    font-size: 16px;
                    color: kt-state-color(light);
                }

                .fd-data {
                    width: 105px;
                    float: right;
                    text-align: right;
                    font-family: $bs-number-font-family;
                    font-size: 16px;
                    color: kt-state-color(warning);

                    ul {
                        width: 80px;
                        margin: 3px 0 0 0;
                        overflow: hidden;
                        height: 20px;
                        position: relative;
                        list-style-type: none;

                        -webkit-box-sizing: unset;
                        -moz-box-sizing: unset;
                        box-sizing: unset;

                        li {
                            position: absolute;
                        }
                    }
                }
            }
            .fd-compare {
                margin: 10px 0 0 15px;
                .fd-label {
                    font-size: 16px;
                    color: kt-state-color(light);
                }
                .fd-data {
                    font-family: $bs-number-font-family;
                    font-size: 16px;
                }
            }
        }
    }
}
