#bs-alarm-statistics {
    position: absolute;
    top: 300px;
    left: 25px;
    width: $bs-widget-default-width;
    height: 200px;

    .bs-circle {
        position: absolute;
        top: 15px;
        left: 5px;

        height: 175px;
        width: 130px;
        overflow: hidden;

        .bs-circle {
            position: absolute;
            top: 0;
            left: 10px;

            height: 115px;
            width: 115px;
            overflow: hidden;
            background-image: url("./../../media/layouts/circle-statistics.png");
            -webkit-background-size: contain;
            background-size: contain;
        }
        .bs-statistics {
            position: absolute;
            top: 35px;
            left: 40px;
            font-family: "Impact", serif;
            color: #fff;
            font-size: 32px;
        }
        .bs-title {
            position: absolute;
            top: 115px;
            left: 45px;
            font-family: "微软雅黑", serif;
            color: #fff;
            font-size: 16px;
        }

        .bs-check-group-labels {
            position: absolute;
            top: 155px;
            left: 10px;
            .bs-label {
                font-size: 8px;
                margin-left: 5px;
                margin-right: 10px;
            }
        }
        .bs-check-group {
            position: absolute;
            top: 140px;
            left: 10px;
            .kt-switch  {
                // Small size
                &.kt-switch--bs-xs {
                    $kt-switch-margin: 2px 0;
                    $kt-switch-width: 24px;
                    $kt-switch-height: 16px;
                    $kt-switch-line-height: 16px;
                    $kt-switch-space: 2px;
                    $kt-switch-checked-tick-pos: 10px;
                    $kt-switch-icon-font-size: 0.6em;

                    @include kt-switch-size(
                            $kt-switch-margin,
                            $kt-switch-width,
                            $kt-switch-height,
                            $kt-switch-line-height,
                            $kt-switch-space,
                            $kt-switch-checked-tick-pos,
                            $kt-switch-icon-font-size
                    );
                }
            }
        }
    }

    .bs-list {
        position: absolute;
        top: 10px;
        left: 65px;
        width: 210px;

        .bs-item {
            padding: 3px 10px ;
            i {
                font-size: 16px;
            }

            .bs-label {
                font-size: 18px;
                color: kt-state-color(light);
            }

            .bs-data {
                width: 120px;
                float: right;
                text-align: right;
                font-family: $bs-number-font-family;
                font-size: 18px;
                color: kt-state-color(warning);

                ul {
                    width: 100px;
                    margin: 5px 0 0 0;
                    overflow: hidden;
                    height: 20px;
                    position: relative;
                    list-style-type: none;

                    -webkit-box-sizing: unset;
                    -moz-box-sizing: unset;
                    box-sizing: unset;

                    li {
                        position: absolute;
                    }
                }
            }
        }
        .bs-compare {
            .bs-label {
                padding-left: 20px;
                font-size: 18px;
                color: kt-state-color(light);
            }
            .bs-data {
                font-family: $bs-number-font-family;
                font-size: 16px;
            }
        }
    }
}
