$fd-time-line-height: 50px;

.fd-alarm-statistics-period {
    width: 1400px;
    height: 170px;

    background-image: url("./../../media/layouts/fd-black-bg.svg");

    .fd-alarm-statistics-bar {
        width: 1400px;
        height: 120px;
        .fd-axis-alarm {
            text {
                color: kt-state-color(light);
                font-size: 12px;
            }
            path, line{
                color: transparent;
            }
        }
    }
    .fd-alarm-statistics-time-line {
        width: 1385px;
        height: $fd-time-line-height;
        margin-top: 2px;
        margin-left: 2px;

        color: kt-state-color(tech);
        font-family: "微软雅黑", serif;

        .fd-box {
            border: 2px solid kt-state-color(tech);
            height: $fd-time-line-height;
            float: left;
            line-height: $fd-time-line-height;
            text-align: center;
            margin-left: 3px;
        }
        .fd-time-line-name {
            margin-left: 0;
            display: inline-block;
            width: $fd-time-line-height;
        }
        .fd-arrow {
            width: $fd-time-line-height;
            font-size: 18px;
        }
        .fd-time-line-list {
            width: 1220px;
            display: flex;
            padding-left: 0;
            li {
                line-height: $fd-time-line-height;
                flex: 1;
                list-style: none;
                text-align: center;
            }
        }
        .fd-week {
            display: block;
            line-height: 18px;
            font-size: 12px;
        }
        .fd-day {
            display: block;
            line-height: 28px;
            font-size: 20px;
        }
    }
}
