#bs-alarm-statistics-period {
    position: absolute;
    bottom: 25px;
    left: 25px;
    width: 1385px;
    height: 175px;
    z-index: $bs-widget-default-z-index;

    background-color: kt-state-color(dark);
}
