.fd-animate-logo {
    float: left;

    width: 200px;
    height: 200px;

    border-radius: 100px;
    background-size: 240px;
    background: url("./../../media/layouts/earth1.gif") -20px -10px;
}
.fd-base-data {
    float: left;
    width: 130px;
    height: 200px;
    margin-left: 5px;
    background-image: url("./../../media/layouts/fd-black-bg.svg");

    > .fd-data {
        width: 130px;
        height: 60px;
        margin: 0 0 10px 0;
    }

    span {
        font-family: $fd-number-font-family;
        color: kt-state-color(dark);
        font-size: 18px;
        font-weight: bold;
        float: right;
        margin: 23px 15px 0 0;
    }

    > .fd-house {
        background-image: url("./../../media/layouts/base-house.png");
        background-size: 130px 60px;
    }
    > .fd-company {
        background-image: url("./../../media/layouts/base-company.png");
        background-size: 130px 60px;
    }
    > .fd-person {
        background-image: url("./../../media/layouts/base-person.png");
        background-size: 130px 60px;
    }
}
