@font-face {
    font-family: "DSEG7 Classic Mini";
    src: url('./../../media/fonts/DSEG7ClassicMini-Bold.woff.ttf');
}

.fd-body {
    width: 1960px;
    height: 1080px;

    transform-origin: left top;
    margin: 0;
    overflow: hidden !important;
    background-image: url("./../../media/layouts/bg-all-temp.png");
    background-position: 0 -25px;
    -webkit-background-size: 1920px 1105px;
    background-size: 1920px 1105px;
}
