#bs-dangerous-person {
    position: absolute;
    top: 510px;
    left: 25px;
    width: $bs-widget-default-width;
    height: 360px;
    z-index: $bs-widget-default-z-index;

    .bs-title {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 125px;
        height: 125px;

        background-image: url("./../../media/layouts/dangerous-person-title.png");
        -webkit-background-size: contain;
        background-size: contain;
    }
    .bs-vip {
        position: absolute;
        top:50px;
        left:15px;
        width: 90%;
        height: 90%;
        background-image: url("./../../media/layouts/vip.png");
        -webkit-background-size: contain;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 3;
    }
}
.fd-dangerous-person {
    width: 335px;
    height: 360px;
    .fd-title {
        width: 120px;
        height: 120px;

        float: left;

        background-image: url("./../../media/layouts/dangerous-person-title.png");
        -webkit-background-size: contain;
        background-size: contain;
    }
    .fd-category {
        width: 195px;
        height: 140px;

        float: left;

        background-image: url("./../../media/layouts/vip.png");
        -webkit-background-size: 260px 260px;
        background-size: 260px 260px;
        background-position: -70px 0;
    }
    .fd-dept {
        width: 315px;
        height: 200px;

        float: left;

        background-image: url("./../../media/layouts/vip.png");
        -webkit-background-size: 320px 380px;
        background-size: 320px 380px;
        background-position: 0 -180px;
    }
}
