.fd-layout-with-map {
    position: absolute;
    top: 0;
}

.fd-layout-container {
    width: $fd-body-width;
    height: $fd-body-height;

    transform-origin: left top;
    margin: 0;
    overflow: hidden;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    .fd-widget {
        pointer-events: auto;
    }

    > .fd-layout-header {
        width: calc(100%);
        height: 85px;
        margin: 0;

        background-image: url("./../../media/layouts/map-mask.png");
        -webkit-background-size: 1920px 120px;
        background-size: 1920px 120px;
        background-repeat: no-repeat;

        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;

        > .fd-widget-1 {
            height: 50px;
            width: 600px;
            margin: 25px auto 0 25px;
        }
        > .fd-widget-2 {
            height: 50px;
            width: 375px;
            margin: 25px 25px 0 0;
        }
    }

    > .fd-layout-aside-left {
        margin-right: auto;

        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;

        > .fd-widget-3 {
            margin: 10px 0 0 25px;
            width: 335px;
            height: 200px;
        }
        > .fd-widget-4 {
            margin: 10px 0 0 25px;
            width: 335px;
            height: 200px;
        }
        > .fd-widget-5 {
            margin: 10px 0 0 25px;
            width: 335px;
            height: 360px;
        }
        > .fd-widget-6 {
            margin: 10px 0 25px 25px;
            width: 1400px;
            height: 170px;
        }
    }

    .fd-layout-aside-right {
        margin: 10px 25px 25px 0;
        width: 375px;
        height: 960px;

        > .fd-widget-7 {
            margin: 0;
            width: 375px;
            height: 175px;
            background-color: kt-state-color(danger);
        }
        > .fd-widget-8 {
            margin-top: 10px;
            width: 375px;
            height: 190px;
            background-color: kt-state-color(danger);
        }
        > .fd-widget-9 {
            margin-top: 10px;
            width: 375px;
            height: 575px;
            background-color: kt-state-color(danger);
        }
    }
}
