#bs-title {
    position: absolute;
    top: 25px;
    left: 25px;
    width: 900px;
    height: 60px;
    opacity: 1;
    z-index: $bs-widget-default-z-index;

    .bs-title-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: kt-state-color(dark);
        opacity: $bs-dark-background-opacity;
        z-index: 1;
    }
    .bs-title {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("./../../media/layouts/logo.png");
        -webkit-background-size: contain;
        background-size: contain;
        z-index: 2;
    }
}
