
$bs-abnormal-border-width: 5px;
$bs-dark-background-opacity: 0.80;
$bs-abnormal-border-cfg: $bs-abnormal-border-width solid kt-state-color(tech);
$bs-number-font-family: "DSEG7 Classic Mini", serif;
$bs-widget-default-width: 370px;
