<!DOCTYPE html>
<html lang="en">
    <head>

        <!--begin::Base Path (base relative path for assets of this page) -->
        <base href="../../">
        <!--end::Base Path -->

        <meta charset="UTF-8">
        <title>Test</title>
        <meta name="description" content="Updates and statistics">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--begin::Global Theme Styles(used by all pages) -->
        <link href="./assets/vendors/global/vendors.bundle.css" rel="stylesheet" type="text/css" />
        <link href="./assets/css/demo-lab/style.bundle.css" rel="stylesheet" type="text/css" />
        <!--end::Global Theme Styles -->

        <!--begin::Page Custom Styles(used by this page) -->
        <link href="./assets/css/demo-lab/irregular-border/irregular-border.css" rel="stylesheet" type="text/css" />
        <link href="./assets/css/demo-lab/modal/modal.css" rel="stylesheet" type="text/css" />
        <link href="./assets/css/demo-lab/layout/layout.css" rel="stylesheet" type="text/css" />
        <!--end::Page Custom Styles -->

        <link rel="shortcut icon" href="./assets/media/logos/favicon.ico" />
    </head>
    <body>
        <div class="bs-layout-container">
            <div class="bs-layout-header">
                <div class="bs-title"></div>
                <div class="bs-info"></div>
            </div>
            <div class="bs-layout-aside-left">
                <div class="bs-widget-1 bs-widget">
                    <a id="toggle_me" class="btn btn-primary" href="javascript:"><i class="fa fa-user"></i></a>
                </div>
                <div class="bs-widget-2"></div>
                <div class="bs-widget-3"></div>
                <div class="bs-widget-4"></div>
            </div>
            <div class="bs-layout-aside-right">
                <div class="bs-widget-5"></div>
                <div class="bs-widget-6"></div>
                <div class="bs-widget-7"></div>
            </div>

        </div>

        <!--begin::Global Theme Bundle(used by all pages) -->
        <script src="./assets/vendors/global/vendors.bundle.js" type="text/javascript"></script>
        <script src="./assets/js/demo-hn-01/scripts.bundle.js" type="text/javascript"></script>
        <!--end::Global Theme Bundle -->

        <!--begin::Page Scripts(used by this page) -->
        <script src="./assets/js/demo-lab/layout/autosize.js" type="text/javascript"></script>
        <script src="./assets/js/demo-lab/layout/toggle.js" type="text/javascript"></script>
        <!--end::Page Scripts -->
    </body>
</html>
