<div class="fd-layout-header">
    <div class="fd-widget-1 fd-widget" ng-include="'./demo-hn-01/title/title.html'"></div>
    <div class="fd-widget-2 fd-widget" ng-include="'./demo-hn-01/date-weather/main.html'"></div>
</div>
<div class="fd-layout-aside-left">
    <div class="fd-widget-3 fd-widget" ng-include="'./demo-hn-01/base-data/main.html'"></div>
    <div class="fd-widget-4 fd-widget" ng-include="'./demo-hn-01/alarm-statistics/main.html'"></div>
    <div class="fd-widget-5 fd-widget" ng-include="'./demo-hn-01/dangerous-person/main.html'"></div>
    <div class="fd-widget-6 fd-widget" ng-include="'./demo-hn-01/alarm-statistics-period/main.html'"></div>
</div>
<div class="fd-layout-aside-right">
    <div class="fd-widget-7 fd-widget"></div>
    <div class="fd-widget-8 fd-widget"></div>
    <div class="fd-widget-9 fd-widget"></div>
</div>
